@using Domain.Entities
@model Domain.Entities.Cliente

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<script type="text/javascript">
    $(function() {
        $("#Data").datepicker($.datepicker.regional["pt-BR"]);
        $("#Data").show();
    });
</script>
<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
</style>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div ng-controller="ClienteController as bos" class="container">
        <form name="myForm" class="form-horizontal css-form"  novalidate >
            <h1 class="h4">Cadastro de clientes</h1>

            <div class="row">
                <label class="control-label col-md-1">Nome:</label>
                <div class=" col-md-8">
                    <input name="Nome" class="form-control" id="Nome" ng-model="bos.mNome"  required />
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-1">Email:</label>
                <div class=" col-md-6">
                    <input name="Email" id="Email" ng-model="bos.mEmail" type="email" class="form-control" required />
                </div>
                <label class="control-label col-md-1">Data:</label>
                <div class="col-md-2">
                    <input name="Data" id="Data"  ng-model="bos.mData" class="form-control"  required  size="3"/>
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-1">Nascimento:</label>
                <div class="col-md-2">
                    <input name="Nascimento" id="Nascimento" ng-model="bos.mNascimento" class="form-control" required />
                </div>
                <label class="control-label col-md-1">Telefone:</label>
                <div class=" col-md-3">
                    <input name="Telefone" type="number" id="Telefone" ng-model="bos.mTelefone" class="form-control"  required/>
                </div>


                <label class="control-label col-md-1">Celular:</label>
                <div class="col-md-3">
                    <input name="Celular" id="Celular"   ng-model="bos.mCelular" class="form-control" />
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-1">Horário:</label>
                <div class="col-md-3">
                    <label class="control-label radio-inline">
                        <input type="radio" name="Horario" value="M" ng-model="bos.mHorario" />Manha</label>
                    <label class="control-label radio-inline">
                        <input type="radio" name="Horario" value="T" ng-model="bos.mHorario" />Tarde</label>
                    <label class="control-label radio-inline">
                        <input type="radio" name="Horario" value="N" ng-model="bos.mHorario" />Noite</label>
                </div>

            </div>

            <div class="row">
                <label class="control-label col-md-1">Pais:</label>
                <div class=" col-md-2">
                    <select name="mPais" id="mPais" class="form-control" ng-change="bos.getEstados(bos.mPais.singleSelect)" ng-model="bos.mPais.singleSelect">
                        <option ng-repeat="option in  bos.mPais.multipleSelect" value="{{option.id}}">{{option.name}}</option>
                    </select>
                </div>


                <div ng-show="bos.mEstado.multipleSelect.length">
                    <label class="control-label col-md-1">Estado:</label>
                    <div class=" col-md-3">
                        <select name="estadoId" class="form-control" id="estadoId" ng-model="bos.mEstado.singleSelect" ng-change="bos.getCidades(bos.mEstado.singleSelect)">
                            <option ng-repeat="option in bos.mEstado.multipleSelect" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div ng-show="bos.mCidade.multipleSelect.length">
                    <label class="control-label col-md-1">Cidade:</label>
                    <div class=" col-md-3">
                        <select name="cidadeId" class="form-control" ng-change="bos.getAnfitriao()" id="CidadeID" ng-model="bos.mCidade.singleSelect">
                            <option ng-repeat="option in bos.mCidade.multipleSelect" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-1">Bairro:</label>
                <div class=" col-md-4">
                    <input name="Bairro" id="Bairro" ng-model="bos.mBairro" class="form-control" />
                </div>

                <label class="control-label col-sm-1">Cep:</label>
                <div class=" col-sm-4">
                    <input name="Cep" id="Cep" ng-model="bos.mCep" class="form-control" />
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-1">Logradouro:</label>
                <div class=" col-md-8">
                    <input name="Logradouro" id="Logradouro" ng-model="bos.mLogradouro" class="form-control" />
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-1">Numero:</label>
                <div class=" col-md-4">
                    <input name="Numero" id="Numero" ng-model="bos.mNumero" class="form-control" />
                </div>
                <label class="control-label col-md-1">Complemento:</label>
                <div class=" col-md-4">
                    <input name="Complemento" id="Complemento" ng-model="bos.mComplemento" class="form-control" />
                </div>
            </div>

            <div ng-show="bos.mAnfitriao.multipleSelect.length" class="row">
                <label class="control-label col-md-1">Anfitrião:</label>
                <div class="col-md-6">
                    <select class="form-control" name="Anfitriao" id="Anfitriao" ng-model="bos.mAnfitriao.singleSelect">
                        <option ng-repeat="option in  bos.mAnfitriao.multipleSelect" value="{{option.id}}">{{option.name}}</option>
                    </select>
                </div>
            </div>

            <p>
                <input type="button" ng-click="bos.Salvar()" value="Salvar" class="btn  btn-default" />
            </p>
        </form> 
    </div>
}
@**@


