@using Domain.Entities
@model Domain.Entities.Cliente

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(function () {
       
    });
</script>

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div ng-controller="ClienteController as bos">
        <form name="myForm">
            <fieldset>
                <legend>Cadastro de Clientes</legend>



                <div class="editor-field">
                    <label>Pais:</label>
                    <select name="Endereco_Pais_Id" id="Endereco_Pais_Id" ng-change="bos.getEstados(mPais)" ng-model="mPais">
                        <option ng-repeat="option in bos.pais" value="{{option.id}}">{{option.name}}</option>
                    </select>
                </div>

                <div class="editor-field" ng-show="bos.estados.length">
                    <label>Estado:</label>
                    <select name="estadoId"  id="estadoId" ng-model="mEstado" ng-change="bos.getCidades(mEstado)">
                        <option ng-repeat="option in bos.estados" value="{{option.id}}">{{option.name}}</option>
                    </select>
                </div>
                <div class="editor-field" ng-show="bos.cidades.length">
                    <label>Cidade:</label>
                    <select name="cidadeId" id="CidadeID" ng-model="mCidade" >
                        <option ng-repeat="option in bos.cidades" value="{{option.id}}">{{option.name}}</option>
                    </select>
                </div>
                <p>
                    <input type="submit" value="Create" />
                </p>
            </fieldset>
        </form>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

